
<div  class="row">
    <h2 class="center-align">¿Desea eliminar el siguiente plan?</h2>
    <article  class="col s6 offset-s3">
        <form [formGroup]="fgValidador" (ngSubmit)="DeletePlan()" action="formulario-contacto.php" method="POST">
            <input type="hidden" formControlName="idPlan">
            <div class="input-field">
                <label for="nombrePlan" class="active">Nombre del Plan</label>
                <input formControlName="nombrePlan" type="text" name="nombrePlan" readonly>
            </div>
            <div class="input-field">
                <label for="descripcion" class="active">Descripción</label>
                <input formControlName="descripcion" type="text" name="descripcion" readonly>
            </div>
            <div class="input-field">
                <label for="precioPlan" class="active">Precio</label>
                <input formControlName="precioPlan" type="text" name="precioPlan" readonly>
            </div>
            <div class="input-field">
                <label for="proveedores" class="active">Proveedor</label>
                <input formControlName="proveedores" type="text" name="proveedores" readonly>
            </div>
            <p class="center-align">
                <button style="margin: 10px" class="waves-effect waves-light btn" type="submit"><i class="material-icons right">delete</i> Eliminar</button>
                <a  routerLink="/administracion/listar-planes" class="btn"><i class="material-icons right ">cancel</i>Cancelar</a>
            </p>
        </form>
    </article>
</div>
