<!-- <main  class="center-align">
    <h2><b>Bienvenido a Pet Watch</b></h2>
<img src="https://images.pexels.com/photos/46024/pexels-photo-46024.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="imagenPets">

<h4>¿Quiénes somos?</h4>
<p >Petwatch es una tienda virtual que oferta productos y servicios para aquellas mascotas felinas y caninas que
    tanto adoramos, como empresa nos enfocamos en el cuidado, salud, belleza, higiene y ocio de nuestros peluditos;
    Esta empresa fue fundada en el año 2021 como respuesta al incremento de mascotas en los hogares dando a todos
    aquellos pet lovers facilidad y posibilidad de que sus mascotas tengan lo adecuado para ellas, como una buena
    asistencia médica, dietas saludables, accesorios que le permitan recrearse y divertirse, alimentos pertinentes
    para su raza, peso, edad y tamaño.</p>


<h4>Mision</h4>
<p >Proporcionar la mejor calidad en servicios y artículos para mascotas, a través de una plataforma digital que
    facilite la adquisición y compra de productos y servicios de forma independiente o a partir de planes de compra.
</p>
<h4>Vision</h4>
<p >Liderar a nivel nacional la atención y cuidado de mascotas desde la prestación de servicios veterinario y de aseo
    hasta la venta de los mejores productos y accesorios</p>

</main> -->

<main>
  <section class="main_slider">
    <ul class="slider">
      <li class="slider__item"><img
          src="https://images.pexels.com/photos/46024/pexels-photo-46024.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=830"
          alt="" class="main_slider__img"></li>
      <li class="slider__item"><img
          src="https://images.pexels.com/photos/1440918/pexels-photo-1440918.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=570&w=838"
          alt="" class="main_slider__img"></li>
      <li class="slider__item"><img
          src="https://images.pexels.com/photos/5255626/pexels-photo-5255626.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=838"
          alt="" class="main_slider__img"></li>
      <li class="slider__item"><img
          src="https://images.pexels.com/photos/9507639/pexels-photo-9507639.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=838"
          alt="" class="main_slider__img"></li>
    </ul>
  </section>
    <article class="main_article">
      <div class="container container--main_article">
        <div class="article_card">
          <h1 class="article_card__title">PET WATCH</h1>
          <h2 class="article_card__subtitle">HISTORY IN THE MAKING</h2><br>
          <p class="article_card__paragraph">Esta empresa fue fundada en el año 2021 como respuesta al incremento de mascotas en los hogares dando a todos
          aquellos pet lovers facilidad y posibilidad de que sus mascotas tengan lo adecuado para ellas, como una buena
          asistencia médica, dietas saludables, accesorios que le permitan recrearse y divertirse, alimentos pertinentes
          para su raza, peso, edad y tamaño.<br/>
          Petwatch es una tienda virtual que oferta productos y servicios para aquellas mascotas felinas y caninas que
          tanto adoramos, como empresa nos enfocamos en el cuidado, salud, belleza, higiene y ocio de nuestros peluditos
          </p>
        </div>
      </div>
    </article>
    <section class="main_section">
      <div class="container container--main_section">
        <div class="card">
          <div class="card__text">
            <h1 class="card__title">EXPERIENCIAS</h1>
            <h2 class="card__subtitle">SERVICIOS ENFOCADOS EN LAS EXPERIENCIAS</h2>
            <p class="card__paragraph">Petwatch es una tienda virtual que oferta productos y servicios para aquellas mascotas felinas y caninas que
            tanto adoramos, como empresa nos enfocamos en el cuidado, salud, belleza, higiene y ocio de nuestros peluditos.</p>
            <a class="button" href="#">
              <span class="button__text">VER SERVICIOS</span>
            </a>
          </div>
          <figure class="card__figure">
            <img class="card__figure-img1" src="https://images.pexels.com/photos/6235108/pexels-photo-6235108.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="hollywood-room">
          </figure>
        </div>
      </div>
    </section>
    <aside class="main_aside">
      <div class="container container--aside">
        <div class="container__text">
          <h3 class="container__title">PROXIMOS EVENTOS DEL MES DE NOVIEMBRE</h3>
        </div>
        <div class="container__collection">

          <a class="collection__link" href="#">
            <figcaption class="collection__text" >Desparacitación</figcaption>
            <figure class="collection__figure">
              <img class="collection__figure-img1" src="https://i.ibb.co/XzL5WZV/pexels-photo-46024.jpg" alt="">
              <img class="collection__figure-img2" src="https://i.ibb.co/PTn5NrC/calendar-1.png" alt="">
            </figure>

          </a>
          <a class="collection__link" href="#">
            <figcaption class="collection__text">Vacunación</figcaption>
            <figure class="collection__figure">
              <img class="collection__figure-img1" src="https://i.ibb.co/XzL5WZV/pexels-photo-46024.jpg" alt="">
              <img class="collection__figure-img2" src="https://i.ibb.co/nDb3WV6/calendar-2.png" alt="">
            </figure>
          </a>
          <a class="collection__link" href="#">
            <figcaption class="collection__text">Esterilización</figcaption>
            <figure class="collection__figure">
              <img class="collection__figure-img1" src="https://i.ibb.co/XzL5WZV/pexels-photo-46024.jpg" alt="">
              <img class="collection__figure-img2" src="https://i.ibb.co/hyBj0sC/calendar-3.png" alt="">
            </figure>
          </a>
          <a class="collection__link" href="#">
            <figcaption class="collection__text">Asistencias</figcaption>
            <figure class="collection__figure">
              <img class="collection__figure-img1" src="https://i.ibb.co/XzL5WZV/pexels-photo-46024.jpg" alt="">
              <img class="collection__figure-img2" src="https://i.ibb.co/stjhqZk/calendar-4.png" alt="">
            </figure>
          </a>
        </div>
      </div>
    </aside>




</main>

