<main  class="center-align">
    <h1 class="Titulo"><b>Bienvenido a Pet Watch</b></h1>
    
<img src="https://images.pexels.com/photos/46024/pexels-photo-46024.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="imagenPets">

<h4>¿Quiénes somos?</h4>
<p >Petwatch es una tienda virtual que oferta productos y servicios para aquellas mascotas felinas y caninas que
    tanto adoramos, como empresa nos enfocamos en el cuidado, salud, belleza, higiene y ocio de nuestros peluditos;
    Esta empresa fue fundada en el año 2021 como respuesta al incremento de mascotas en los hogares dando a todos
    aquellos pet lovers facilidad y posibilidad de que sus mascotas tengan lo adecuado para ellas, como una buena
    asistencia médica, dietas saludables, accesorios que le permitan recrearse y divertirse, alimentos pertinentes
    para su raza, peso, edad y tamaño.</p>


<h4>Mision</h4>
<p >Proporcionar la mejor calidad en servicios y artículos para mascotas, a través de una plataforma digital que
    facilite la adquisición y compra de productos y servicios de forma independiente o a partir de planes de compra.
</p>
<h4>Vision</h4>
<p >Liderar a nivel nacional la atención y cuidado de mascotas desde la prestación de servicios veterinario y de aseo
    hasta la venta de los mejores productos y accesorios</p>

</main>
